/* body {
  background: url(./picofcode.jpg);
} */

.flex-container {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
}

.button {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  float: none;
}
